*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus{
    outline:none;
}

body{
     position:relative;
     background: #f0f0f0;;
     font-family:'roboto' , sans-serif;
}
.navbar{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 2 3.5vw;
}
.toggle-btn{
    width: 20px;
    height: 10px;
    position: relative;
    cursor: pointer;
}

.toggle-btn span {
position: absolute;
width: 100%;
height: 2px;
top: 50%;
left: 30px;
transform:translate(-50%);
background: #272222;
}

.toggle-btn span:nth-child(1){ 
    top:0%;
}
.toggle-btn span:nth-child(3){
    top:100%;
}

.logo{
    height:100px;
    margin: 2px 50px 0;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-box {
    width: 600px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    outline: none;
    font-size: 16px;
  }
  
  .search-btn {
    padding: 10px 15px;
    border: none;
    background-color: #f8f8f8;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
  }
  
  .search-btn svg {
    width: 19px;
    height: 19px;
    color: #333;
  }
  
  .search-box:focus {
    border-color: #ff0000; /* YouTube's red color */
  }
   
  .user-options{
    height: 35px;
    display: flex;
    margin-left: 1px;
    align-items: center;
  }
  .user-options .icon{
    height: 80%;
    margin-right: 75px;
    cursor: pointer;
  }

.d-icon {
  width: 50px; /* Set equal width */
  height: 50px; /* Set equal height */
  background-color: #6200EA; /* Any background color */
  color: white; /* Text color */
  display: flex; /* Flexbox to center text */
  justify-content: center; /* Horizontally center text */
  align-items: center; /* Vertically center text */
  font-size: 20px; /* Text size */
  font-weight: bold; /* Bold text */
  border-radius: 50%; /* This makes the square into a circle */
}
.side-bar{
  position: fixed;
  top: 60px;
  left: 0;
  min-width:200px;
  width: 200px;
  height: calc(100vh - 60px);
  background: #fff;
  padding-right: 10px;
  overflow-y: auto;
}
.side-bar::-webkit-scrollbar{
  display: none;
}
.links{
  width: 50px;
  height: 10vh;
  padding: 25px;
  left: 0;
  top: 0;
  display:flex;
  color: #242424;
  font-size: 14px;
  font-weight: 500;
  padding-top: 20px;
}
.links:hover,
.links.active{
background-color: rgba(0,0,0,0.1)
}
.links img {
  margin-right: 10px;
  
}

.seperator{
  border: none;
  border-bottom: 1px solid gray;
  margin: 20px 0;
}

.filters{
   position:fixed;
   left: 200px;
   top: 60px;
   width: calc(100% - 200px);
   height: 60px;
   background: #fff;
   border-top: 1px solid #dbdbdb;
   border-bottom: #dbdbdb;
   padding: 0 20px;
   display: flex;
  align-items: center;
  overflow-x: auto;
}
.filters::-webkit-scrollbar{
  display: none;
}
.filter-options{
    flex: 0 0 auto;
    padding: 10px 20px;
    border-radius: 50px;
    background:#f0f0f0;
    border: 1px solid #dbdbdb;
    text-transform: capitalize;
    margin-right: 10px;
    color:#242424;
    font-size: 15px;
    cursor: pointer;
}
.filter-options.active{
  color: #fff;
  background: #242424;
}

.video-container{
  width: calc(100% - 250px);
  margin-top: 120px;
  margin-left: 250px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,25%);
  grid-gap: 20px 15px;
  overflow-x: hidden;
}

.video{
  min-height: 250px;
  height: auto;
}
.thumbnail{
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.content{
  width: 100%;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.channel-icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}
.title{
  width:100%;
  height: 40px;
  overflow: hidden;
}
.channel-name{
  font-size :14px;
  margin: 2px, 0;
  color: #979797;
}
